# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Output Files
# =========================
output/
*.csv
*.xlsx

# =========================
# OS / Editor
# =========================
.vscode/
.DS_Store
Thumbs.db